/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Cuerpo de la Página */
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-texto);
}

/* Variables de Colores */
:root {
    --color-primario: #6641dd;
    --color-secundario: #c845c0;
    --color-terciario: #2d89e8;
    --color-cuaternario: #5f9be6;
    --color-quintenario: #6881de;
    --color-sextario: #64e0bc;
    --color-background: #e7e7e7;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-not-to-black: #242526;
}

/* Barra Superior Social Media */
header {
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    z-index: 1000;
}

.social-links li {
    display: inline-block;
    padding: 10px 10px;
}

.social-links img {
    width: 25px;
    height: auto;
    transition: transform 0.2s;
    /* Agrega una transición suave al pasar el mouse */
}

.social-links img:hover {
    transform: scale(1.2);
    /* Cambia el tamaño al pasar el mouse */
}

/* Barra de Navegación */
nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: var(--color-background);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: var(--color-quintenario);
}

.nav-links {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    width: 210px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: var(--color-secundario);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links:hover {
        background: #3A3B3C;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}

/* Banner llamativo Colores*/
#stripes {
    width: 100%;
    height: 95%;
    overflow: hidden;
    transform-origin: 0;
    transform: skewY(-12deg);
    background: -webkit-linear-gradient(300deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

}

#stripes, #stripes span {
    position: relative;
}

#stripes span {
    height: 40px;
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #4c29ff;
}

#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #2be7ff;
}

#stripes :nth-child(3) {
    width: 25%;
    top: 10px;
    right: 10px;
    background: #a1ffc8;
}

@media (min-width:670px) {
    #stripes span {
        height: 150px;
    }

    #stripes :nth-child(1) {
        top: 0;
    }

    #stripes :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #0dcfff;
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #11bdff;
    }
}

@media (min-width: 880px) {
    #stripes span {
        height: 190px;
    }

    #stripes :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #53f;
    }

    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #4553ff;
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #4f40ff;
    }

    #stripes :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #25ddf5;
    }

    #stripes :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #1fa2ff;
    }
}

/* Banner llamativo Imagen*/
.contenedor-sims-banner {
    position: absolute;
}

#sims-banner-img {
    height: 500px;
    width: 800px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Banner llamativo Texto*/
.contenedor-banner-texto {
    position: absolute;
    bottom: 35%;
}

#title-banner-texto {
    font-size: 60px;
    font-weight: 600;
    color: var(--color-background);
    padding-left: 6%;
    top: 20%;
}

.subtitle-banner-texto {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-background);
    padding-left: 6%;
    position: relative;
}

.text-banner-texto {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-background);
    padding-left: 10%;
}

.link-banner-texto {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 14px;
    height: 48px;
    letter-spacing: .25px;
    line-height: normal;
    overflow: visible;
    position: relative;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    touch-action: manipulation;
    will-change: transform, opacity;
    padding: 10px 20px;
    margin-left: 10%;
}

.link-banner-texto:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.link-banner-texto:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.link-banner-texto:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.link-banner-texto:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.link-banner-texto:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.link-banner-texto:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.link-banner-texto:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.link-banner-texto:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* Sección Juegos Destacados */
.h1-juegos-destacados {
    color: var(---black);
    position: relative;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-top: 3%;
}

.card-body-juegos-destacados{
    margin-left: 13%;
    margin-right: 13%;
}

.card-juego{
    height: 100%;
    width: 100%;
}

.card-juego-logo {
    height: 20%;
    width: 40%;
}







/* Footer */
